In [1]:
# !pip install tweepy==4.5.0
import tweepy
import csv
import pandas as pd
import numpy as np

In [2]:
api_key = "de4zPGLwbpuUz2xpgISyv7MFD"
api_key_secret = "nXp2d8P3Ye4leDsrWQPJBDlQCSRtStJWw4XqgwdZhjKyjSnnVl"
access_token = "2214048067-0J40qXmoWzPg9wAqY5X1sDX95o4cl2x8eIfuVP0"
access_token_secret = "mZ7dRAp63RmL06SLCjH8VclfaNOGmqzupC0ESoOhnex4m"

auth = tweepy.OAuthHandler(api_key,api_key_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [3]:
search_words = "BTS"
search_words = "Bangtan"
search_words = "Bighit"
search_words = "Army"

search = search_words + " -filter:retweets"

In [4]:
response = tweepy.Cursor(api.search_tweets,
        q=search,
        lang="id").items(10)

results = [[tweet.id_str, tweet.created_at,  tweet.user.screen_name, tweet.text] for tweet in response]
hasil = pd.DataFrame(data=results, columns=['id', 'date', 'username', 'tweet'])
hasil

,id,date,username,tweet
0,1641319808405839875,2023-03-30 06:01:51+00:00,Aniirudh_kv,@UmaBalachandren @jenifer63597635 @RVikraman @...
1,1641319789770727427,2023-03-30 06:01:46+00:00,taengeluv,@RanieFelia @myzxngi lh kok situ yg tantrum.. ...
2,1641319735026651137,2023-03-30 06:01:33+00:00,QFN_Army,@abcdyoongi_ @ime_indonesia @tiket Dari awal e...
3,1641319660955250688,2023-03-30 06:01:16+00:00,haridaresa,Dahla brand mending tiketny buat kalian aja da...
4,1641319557225910273,2023-03-30 06:00:51+00:00,JK_BRIndonesia,8 Cover Lagu Harry Styles yang Berkesan\nArtis...
5,1641319480734420992,2023-03-30 06:00:33+00:00,jeonthvie_,@indomyfess TAHAN GAISS GAUSAH DIBELI.. KALAU ...
6,1641319416368615424,2023-03-30 06:00:17+00:00,sellkpopfess,"ARMY YUK JOIN PAPABEAR GO! \n\n✅️ nyelem ina, ..."
7,1641319360466939904,2023-03-30 06:00:04+00:00,ocirosi071,@rahmdess27 Giveaway kok di suruh beli produk ...
8,1641319355115008000,2023-03-30 06:00:03+00:00,sellkpopdata,"ARMY YUK JOIN PAPABEAR GO! \n\nnyelem ina, kr,..."
9,1641319354720743425,2023-03-30 06:00:03+00:00,dagangkorea,"ARMY YUK JOIN PAPABEAR GO! \n\nnyelem ina, kr,..."

In [5]:
# hasil.to_csv('tweet.csv', index=False)